.wish {
    margin-right: auto;
    margin-left: auto;
}

.form-signin{
    margin-top: 3.5em;
    /* background-color: aqua; */
    transition: all 300ms  ;

}

.fc-event {
    margin-bottom: 0.5em;
}

.fc-content {
    color: white;   
}

#external-events {
    margin-top:1em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .card-img-top {
      width: 100%;
      height: 30vh;
      object-fit: cover;
}
    

  @media (min-width: 768px) {
    
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .fc-toolbar.fc-header-toolbar {
      margin-top: 0.5em;
  }

  #map {
    height: 30em;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.navbar {
    padding: 0rem 1rem;
}

.form-check.mt-4 {
    text-align: left;
}